.container {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Permalink - use to edit and share this gradient. Link permanente - use para editar e compartilhar este gradiente: https://colorzilla.com/gradient-editor/#f5e4cf+0,d9d2dd+43,d9d2dd+66,b7beed+86,b7beed+86,2989d8+100 */
    background: linear-gradient(to bottom, rgb(245,228,207) 0%,rgb(228, 211, 190) 43%,rgb(212, 195, 175) 100%);    
    border-left: 8px solid white;
    border-right: 8px solid white;
    border-top: 8px solid white;
    color: black;
}

.section {
    width: 90%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sectionTitle {
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Tiempos Light';
}

.sectionSubTitle {
    font-size: 16px;
    font-family: 'Sofia Pro Bold';
    letter-spacing: 4px;
}

.sectionText {
    font-size: 16px;
    margin-top: 30px;
    font-family: sans-serif;
}

.aboutUsImg {
    width: 150%;
    margin-top: 50px;
    border-radius: 5px;
}

.membersContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px; */
    justify-content: center;
    padding: 30px;
    margin-top: 40px;
}

.memberContainer {
    width: 30%;
    min-width: 250px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.memberPic {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.memberName {
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-top: 10px;
    text-align: center;
}

@media(max-width: 1000px) {
    .aboutUsImg {
        width: 98%;
    }
}

@media(max-width: 300px) {
    .memberContainer {
        min-width: 100%;
        padding: 0;
        padding-top: 40px;
    }
    .memberName {
        font-size: 8vw;
    }

}